 .icone {
     width: 180px;
     display: flex;
     margin: 0 auto;
     margin-top: 80px;
 }

 .icone-nav {
     width: 70px;
     display: flex;
     margin: 0 auto;
     margin-top: -20px;

 }

 .h1co {
     font-size: 40px;
     text-align: center;
     margin-top: 60px;
 }

 .form_co {
     padding-left: 500px;
     margin-top: 70px;
     font-size: 30px;
 }

 input {
     height: 30px;
     width: 300px;

 }

 .a_co {
     padding-left: 200px;

 }

 .inscri_insta {
     display: flex;
     margin: 0 auto;
     width: 350px;
 }

 .inscri_table {
     margin: 0 auto;
     padding: 5px;
 }

 table tr td {
     padding: 7px;

 }

 .border-inscri {
     width: 500px;
     display: flex;
     justify-content: center;
 }

 .test {
     margin: 0 auto;
     border: solid black 2px;
     width: 400px;
     height: 720px;
 }

 .valid-but {
     margin-top: 50px;
 }

 .but-co {
     display: flex;
     align-items: flex-end;
     margin-top: 25px;
     font-size: 20px;
     height: 35px;
     width: 180px;

 }

 .nav {
     height: 80px;
     width: 103%;
     padding: 25px;
     margin: 0;
     background-color: #212121;
     font-size: 20px;
     color: whitesmoke;
     text-decoration: none;

 }

 .div-profil {
     background-color: aqua;
     height: 370px;
 }

 .div-fyp {
     display: inline-block;
     margin-left: 37%;

 }

 .pseudo-fyp {
     margin-bottom: -45px;
     color: whitesmoke
 }

 .comm {
     margin-left: 360px;
     text-decoration: none;

     color: #962fbf;
 }

 .h1-fyp {
     text-align: center;
     padding-top: 80px;
     padding-bottom: 80px;
     color: #d62976;
 }

 .body-fyp {
     background: linear-gradient(#201d1d, #212121);
 }